.Articles {
  margin: 4em 0;
  padding-bottom: 4em;
}

.Articles article {
  padding-bottom: 4em;
}

.Articles .appsignal:after {
    content: "";
    background: url("/images/appsignal-logo.svg") bottom no-repeat;
    width: 20px;
    display: inline-block;
    height: 1rem;
    margin-left: 4px;
}
