.Dates {
  display: block;
  margin-bottom: 1rem;
  z-index: 900;
}

.Dates .DateRange {
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.6;
}

.Dates .fa {
  margin: 0 0.5rem;
  opacity: 0.4;
}
