.Header {
  background: var(--bg);
  padding: 0 1rem;
  z-index: 1000;
  border-bottom: var(--border)
}
.Header > div {
  padding: 1rem 0;
  display: flex;
  align-items: baseline;
}

.Header a {
  text-decoration: none;
}
.Header a.active {
  font-weight: bold;
}
.Header a:hover {
  text-decoration: underline;
}

.Header h1 {
  margin-bottom: 0;
  font-size: 1.2rem;
  display: flex;
}

.Header .NavigationItems {
  display: flex;
  margin-left: auto;
}

.Header .NavigationItems li + li {
  margin-left: 1.2rem
}

.Header .Breadcrumbs {
  line-height: 1.2rem;
  margin-left: 5px;
  font-weight: normal;
  a {
    color: var(--medium-light);
  }
  i {
    color: var(--light);
    padding: 0 5px 0 0;
  }
  small {
    color: var(--light);
    padding: 0 5px;
  }
  @media (max-width: 800px) {
    display: none
  }
}
