.c-bold-link, .c--markdown a {
  background-image: linear-gradient(#fab005, #fab005);
  background-size: 100% 0.25em;
  background-position: left bottom;
  background-repeat: no-repeat;
  transition: background-size 75ms cubic-bezier(0.4, 0, 1, 1);
}

.c-bold-link:hover, .c--markdown a:hover {
  background-size: 100% 100%;
  background-image: linear-gradient(#fab005, #fab005);
  @apply text-gray-9;
}

.c-bold-link:active, .c--markdown a:active {
  background-size: 100% 40%;
}

.c-social {
  @apply ml-auto;
}

.c-social li {
  @apply inline ml-2 text-gray-6;
}

.c-social li a {
  transition: all 75ms cubic-bezier(0.4, 0, 1, 1);
}
.c-social li a:hover {
  @apply text-gray-9;
}
