@import 'reset';

:root {
  --darkest:               #171C24;
  --dark:                  #222936;
  --white:                 #fff;
  --light:                 #EEEEEE;
  --medium:                #555;
  --medium-light:          #bdbdbd;

  --green:                 #4CAF50;
  --yellow:                #FFC107;
  --red:                   #E60027;
  --blue:                  #2979FF;
  --purple:                #9C27B0;
  --orange:                #FF6D00;

  --bg:                    var(--white);
  --bg-shade:              var(--light);
  --bg-invert:             var(--darkest);

  --color:                 var(--dark);
  --color-shade:           var(--medium);
  --color-invert:          var(--white);
  --color-link:            var(--darkest);

  --border-color:          var(--light);
  --border-color-invert:   var(--dark);

  --border:                1px solid var(--border-color);
  --border-invert:         1px solid var(--border-color-invert);
  --br:                    5px;

  --shadow:                0 2px 5px rgba(0,0,0,0.1), 0 4px 10px rgba(0,0,0,0.1);

  --font:                  "Circular Std", "Proxima Nova", sans-serif;

  --mix-blend-mode:        exclusion;
  --narrow:                40rem;
}

body.dark {
  --bg:                    var(--darkest);
  --bg-shade:              var(--dark);
  --bg-invert:             var(--white);

  --color:                 var(--white);
  --color-shade:           var(--light);
  --color-invert:          var(--dark);
  --color-link:            var(--white);

  --border-color:          var(--dark);
  --border-color-invert:   var(--light);
  --border:                1px solid var(--border-color);
  --border-invert:         1px solid var(--border-color-invert);
  --mix-blend-mode:        normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  @media (max-width: 800px) {
    font-size: 15px;
  }
}

body {
  font-size: 0.75rem;
  line-height: 1.5;
  font-family: var(--font);
  font-weight: 300;
  background: var(--bg);
  color: var(--color);
}

input,
textarea,
button {
  font-family: var(--font);
  font-size: 0.75rem
}

h1, h2, h3, h4, h5, h6, .title, .Title, [class^="H-"] {
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--color-link);
}

.H-Small {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}

.H-Normal   { font-size: 1rem; }
.H-Medium   { font-size: 1.5rem; }
.H-Large    {
  font-size: 3rem;
  @media (max-width: 800px) {
    font-size: 2rem;
  }
}


/* Paragraphs */
.T-Small    { font-size: 0.5rem; }
.T-Normal   { font-size: 0.75rem; }
.T-Medium   { font-size: 1rem; }
.T-Large    { font-size: 1.25rem; }

/* Colors */
.C-Green    { color: var(--green); }
.C-Blue     { color: var(--blue); }
.C-Red      { color: var(--red); }
.C-Orange   { color: var(--orange); }
.C-Purple   { color: var(--purple); }
.C-Yellow   { color: var(--yellow); }


.Columns {
  display: flex;
}

.Column {
  flex: 1;
}

.Centered {
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
}

.Container.full {
  width: 100%;
  max-width: 100%;
}

.Container.padded {
  padding: 2rem 0;
}

.Container.narrow {
  max-width: var(--narrow);
}

.Container.tiny {
  max-width: 30rem;
}

.Container.contrast {
  background: var(--bg-shade);
}

.SingleTrip {
  background: var(--bg);
  padding: 4rem 0;
}

figure {
  padding: 0;
  margin: 0;
}

.TripOverview {
  background: var(--bg-shade);
}

footer {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: var(--border);
  > * + *:before {
    content: "—";
    margin-right: 1rem;
    opacity: 0.2
  }

  p {
    margin: 0 1rem 0 0;
  }
  .Social {
    li {
      font-size: 1rem;
      a {
        padding: .5rem;
      }
    }
  }
}

@import '_generic-header';
@import '_dates';
@import '_scaled-image';
@import '_photo-row';
@import '_header';
@import '_button';

@import '_post-body';
@import '_post-header';
@import '_post-navigation';
@import '_post-card';
@import '_trip-card';
@import '_map';

@import '_homepage';
@import '_blog';
@import '_fonts';
@import '_pygments';
@import '_articles';
@import '_social';
@import '_flight';
@import '_hotel';
@import '_location';
@import '_countries';
