---
date: 2020-08-22T15:44:18.147Z
title: Bought a drone
category: note
---
<h1>Bought a drone</h1>

<figure>
<img src="https://d3khpbv2gxh34v.cloudfront.net/r/notes/20200822-DJI_0019-720.jpg" alt="20200822-DJI_0019.jpg" title="1.78" />
<figcaption>20200822-DJI_0019.jpg</figcaption>
</figure>

<p>A DJI Mavic Mini, compact enough to take on hikes in my backpack. </p>