---
date: 2020-08-22T11:07:02.884Z
title: Awesome sites
category: notes
---
<h1>Awesome sites</h1>

<p>Stumbled upon this website yesterday when looking for personal site inspiration, <a href="https://personalsit.es">https://personalsit.es</a> is an amazing collection of personal websites.</p>
