.BlogPostBody {
  font-size: 1rem;
  padding-bottom: 4rem;
}

.BlogPostBody > * {
  width: 80vw;
  max-width: 1200px;
  margin: 0 auto;
  @media (max-width: 800px) {
    width: 90vw;
  }
}

.BlogPostBody h2 {
  font-size: 2rem;
  padding: 4rem 0 1rem 0;
  text-align: center;
}

.BlogPostBody h3 {
  font-size: 1.5rem;
  padding: 4rem 0 1rem 0;
  text-align: center;
}

.BlogPostBody p {
  padding: 1rem;
  max-width: 40rem;
}

.BlogPostBody .gist {
  max-width: 40rem;
  padding: 1rem 0;
}

.BlogPostBody object {
  max-width: 40rem;
  margin: 0 auto;
  width: 100%;

}
.BlogPostBody ul {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
  list-style: square;
}

.BlogPostBody div.highlight {
  border: 1px solid var(--border-color);
  padding: 10px;
  font-size: 0.75rem;
  margin: 1rem auto;
  max-width: 40rem;
  overflow-x: auto;
}

.BlogPostBody p code {
  background: var(--bg-shade);
  padding: 2px 4px;
}

.BlogPostBody li p {
  margin-bottom: 0.5rem;
}

.BlogPostBody .Container {
  padding: 2rem 0;
  @media (max-width: 800px) {
    padding: 1rem 0;
  }
}

