.Flight {
  h2 {
    text-align: left;
    width: 100%;
  }
  small {
    color: var(--medium);
    font-weight: normal;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .from, .to {
    h3 {
      margin-bottom: 0;
    }
    p {
      padding: 0;
      margin: 0;
    }
  }
  .duration {
    flex-grow: 1;
    align-self: center;
    text-align: center;

    &::after {
      content: "";
      margin: -15px 2rem;
      display: block;
      border-bottom: 2px solid var(--medium-light);
    }
    time {
      padding: 1rem;
      background: var(--bg);
    }
  }
}
