.Header {
  background: var(--bg);
  padding: 0 1rem;
  position: relative;
  z-index: 1000;
  top: 0;
  width: 100%;
  border-bottom: var(--border)
}
.Header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-footer-height);
}

.Header a {
  text-decoration: none;
}
.Header a.active {
  font-weight: bold;
}
.Header a:hover {
  text-decoration: underline;
}

.Header h1 {
  margin-bottom: 0;
  font-size: 1.2rem;
  display: flex;
}

.Header .NavigationItems {
  display: flex;
}

.Header .NavigationItems li + li {
  margin-left: 1.2rem
}
