.Homepage ul {
  padding: 0;
  text-align: center;
  li {
    list-style-type: none;
    display: inline-block;
    font-size: 2rem;
    a {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.Homepage > section {
  margin-bottom: 4rem;
}
