.Location {
  border-bottom: var(--border);
  max-width: var(--narrow);
  h2 {
    text-align: left;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @media (max-width: 800px) {
      font-size: 1.5rem;
    }
    @media (max-width: 450px) {
      font-size: 1rem;
    }
    i {
      color: var(--medium-light);
      margin-right: 5px;
    }
  }
}
