.Hero {
  padding: 2rem 0;
}

.Hero img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 0;
}

.ScaledImage {
  background: var(--bg-invert);
  background-size: 4rem;
}

.ScaledImage img {
  height: 100%;
  width: 100%;
}

.ScaledImage.cover img {
  object-fit: cover;
}
