.TripCard {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  padding: 3rem;
  overflow-x: hidden;
  border-top: var(--border);
}


.TripCard .Container {
  display: flex;
  position: relative;
}

.TripCard Header {
  max-width: 60%;
}

.TripCard .images {
  position: absolute;
  margin-left: calc(60% + 5rem);
  top: 50%;
  transform: translateY(-50%)
}

.TripCard a {
  text-decoration: none;
}

.TripCard h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.TripCard h1 small {
  font-size: 0.75rem;
  text-transform: uppercase;
  display: block;
  margin-top: 1rem;
  opacity: 0.6;
  letter-spacing: 0.1em;
  line-height: 1.2
}

.TripCard p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--color-shade)
}

.TripCard .images div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.TripCard .images figure:not(:last-child) {
  margin-right: 0.5rem;
}

.TripCard .images img {
  height: 6rem;
  width: auto;
  display: block;
  border-radius: calc(var(--br) / 2)
}
