<% wrap_layout :layout do %>
  <article>
    <%= partial "header", :locals => { :title => current_article.title, :subtitle => current_article.date.strftime("%Y-%m-%d") } %>
    <section class="c--markdown px-4 lg:px-0">
      <%= yield %>
    </section>
  </article>

  <section class="Container full contrast">
    <header class="GenericHeader">
    <h1 class="H-Medium post-title">More from the blog</h1>
    </header>

    <%= partial "article_list", :locals => {:limit => 99, :title => "More from the blog"} %>
  </section>
<% end %>

