<% wrap_layout :layout do %>
  <article class="Container">
    <section class="GenericHeader">
      <hgroup>
        <h1 class="H-Large post-title"><%= current_article.title %></h1>
        <div class="Dates">
          <span class="DateRange"><%= current_article.date.strftime("%Y-%m-%d") %></span>
        </div>
      </hgroup>
    </section>
    <section class="BlogPostBody">
      <%= yield %>
    </section>
  </article>
<% end %>

