<section class="container pt-16 pb-8 max-w-5xl m-auto text-center">
  <hgroup>
    <h1 class="text-6xl font-bold text-gray-9 leading-tight"><%= locals[:title] %></h1>
    <% if locals[:subtitle] %>
      <p class="text-gray-7 text-lg"><%= locals[:subtitle] %></p>
    <% end %>
  </hgroup>
</section>
