<section class="container pt-16 pb-8 max-w-5xl m-auto text-center">
  <hgroup>
    <% if locals[:pretitle] %>
      <p class="text-gray-4 text-base mb-0 pb-0"><%= locals[:pretitle] %></p>
    <% end %>
    <h1 class="text-6xl font-bold text-gray-9 leading-none mb-2"><%= locals[:title] %></h1>
    <% if locals[:subtitle] %>
      <p class="text-gray-7 text-lg max-w-2xl mx-auto"><%= locals[:subtitle] %></p>
    <% end %>
  </hgroup>
</section>
