<ul class="c-social">
  <li>
    <a href="https://github.com/matsimitsu" target="_blank" rel=”noopener noreferrer me”>
      GitHub
    </a>
  </li>
  <li>
    <a href="https://twitter.com/matsimitsu" target="_blank" rel=”noopener noreferrer me”>
      Twitter
    </a>
  </li>
  <li>
    <a href="https://instagram.com/matsimitsu" target="_blank" rel=”noopener noreferrer me”>
      Instagram
    </a>
  </li>
  <li>
    <a href="mailto:hello@matsimitsu.nl">
      Email
    </a>
  </li>
    <li>
    <a href="/feed.xml">
      RSS
    </a>
  </li>
</ul>
