<ul class="Social">
  <li>
    <a href="https://github.com/matsimitsu" target="_blank" rel=”noopener noreferrer”>
      <i class="fab fa-github"></i>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/matsimitsu" target="_blank" rel=”noopener noreferrer”>
      <i class="fab fa-twitter"></i>
    </a>
  </li>
  <li>
    <a href="https://instagram.com/matsimitsu" target="_blank" rel=”noopener noreferrer”>
      <i class="fab fa-instagram"></i>
    </a>
  </li>
  <li>
    <a href="mailto:hello@matsimitsu.nl">
      <i class="fas fa-at"></i>
    </a>
  </li>
</ul>
