---
title: "Personal weblog of Robert Beekman"
summary: "Personal weblog of developer Robert Beekman covering Technology and Photography"
current_trip: "central-asia-2019"
current_location: "Samarkand, Uzbekistan"
---

<div class="Homepage">
  <header class="GenericHeader">
      <h1 class="H-Large post-title">Robert Beekman</h1>
      <div class="Container narrow">
        <% if current_page.data.current_location %>
          <p class="T-Medium post-intro location">
            <i class="far fa-dot-circle"></i>
            Current location:
            <%= link_to current_page.data.current_location, trip_url(current_page.data.current_trip) %>
          </p>
        <% else %>
          <p class="T-Medium post-intro">
            Software developer at
            <a href="https://appsignal.com" target="_blank" rel="”noopener" noreferrer”="">AppSignal.com</a>.
          </p>
        <% end %>
      </div>
  </header>

  <section class="Container narrow">
    <%= partial "social" %>
  </section>

  <section class="Container full contrast">
    <header class="GenericHeader">
        <h1 class="H-Medium post-title">From the blog</h1>
    </header>
    <%= partial "article_list", :locals => {:limit => 2, :title => "From the blog"} %>
  </section>

  <section>
    <header class="GenericHeader">
      <h1 class="H-Medium post-title">During my travels</h1>
    </header>
    <%- data[:trips].reverse.each do |trip|%>
      <%= partial "trip_card", :locals => { :trip => trip }%>
    <% end %>
  </section>
</div>
